/*left_menu.css*/
.left_side{
	width: 220px;	
	position:fixed;
	background-color:#fff;
	box-shadow:2px 0 5px rgba(0,0,0,0.3);
	height:100%;
}
.left_side .menu a{
	display:block;
	text-decoration: none;
	padding-left:20px;
	padding-top:10px;
	padding-bottom: 10px;
	color: #434343;
	font-weight:400;
}
.login_area{
	padding: 30px;
}
.login_area p{
	margin-bottom: 10px;
}
.user_menu a{
	text-decoration: none;
	margin-left: 35px; 
	background-color: #F7572C;
	color: #fff;
	border-radius: 10px;
	padding: 3px;
}
.user_menu a:hover{
	background-color: #fff;
	color: #F7572C;
	border: 1px solid #F7572C;
}
.left_side .menu a i{
	width:30px;
	display:inline-block;
}
 .left_side .menu a.current{
  color:#F7572C;
 }
.left_side .menu a:hover{
	background-color:#F7F7F7;
	color:#F7572C;
}
#logo{
	text-align:center;
	display:block;
	margin:20px 0;
}
#logo > img{
	width: 103px;
}