<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klook.mapper.CityImageMapper">
	<insert id="insertCityImage">
		INSERT INTO kl_city_img(kci_name, kci_path, kci_uri, kci_size, kci_city_seq)
		VALUES (#{kci_name}, #{kci_path}, #{kci_uri}, #{kci_size}, #{kci_city_seq})
	</insert>
	<select id="selectCityImage" resultType="com.klook.vo.CityImageVO">
		SELECT * FROM kl_city_img WHERE kci_uri = #{uri}
		ORDER BY kci_seq DESC LIMIT 1
	</select>
	<select id="selectCityImageURI" resultType="java.lang.String">
		SELECT kci_uri as uri
		FROM kl_city_img
		WHERE kci_city_seq=#{seq}
		ORDER BY kci_seq
		DESC LIMIT 1
	</select>
	<select id="selectCityImageName" resultType="java.lang.String">
		SELECT kci_name as name
		FROM kl_product_img
		WHERE kci_city_seq=#{seq}
		ORDER BY kci_seq
		DESC LIMIT 1
	</select> 
</mapper> -->