<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klook.mapper.ReviewMapper">
	<select id="selectReviews" resultType="com.klook.vo.ReviewVO">
		SELECT c.*, d.kp_name AS product_name FROM
		(
			SELECT a.*, b.km_name AS member_name
			FROM kl_review a
			INNER JOIN 
			kl_member b
			ON a.kr_member_seq = b.km_seq
		)c 
		INNER JOIN kl_product d
		ON c.kr_prod_seq = d.kp_seq
		<if test="type == 'title' ">
			WHERE kr_title LIKE #{keyword}
		</if>
		<if test="type == 'content' ">
			AND kr_content LIKE #{keyword}
		</if>
		ORDER BY kr_reg_date DESC
		LIMIT 10 OFFSET #{offset}
	</select>
	<select id="selectReviewCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM kl_review
		<if test="type == 'title' ">
			WHERE kr_title LIKE #{keyword}
		</if>
		<if test="type == 'content' ">
			AND kr_content LIKE #{keyword}
		</if>
	</select>
	<delete id="deleteReview">
		DELETE FROM kl_review WHERE kr_seq = #{seq}
	</delete>
	<select id="selectReviewBySeq" resultType="com.klook.vo.ReviewVO">
		SELECT * FROM kl_review WHERE kr_seq = #{seq}
	</select>
</mapper>